<!--
  ~ Copyright 2000-2021 JetBrains s.r.o.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Xml report plugin tests">
  <test name="Xml report plugin tests">
    <classes>
      <class name="jetbrains.buildServer.xmlReportPlugin.MonitorRulesCommandTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.ParseReportCommandTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.XmlReportDataProcessorTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.XmlReportPluginUtilTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.OptimizingIncludeExcludeRulesTest"/>

      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.antJUnit.AntJUnitReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.testng.TestNGReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.checkstyle.CheckstyleReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.ctest.CTestReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.findBugs.FindBugsReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.jslint.JSLintReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.mstest.DurationParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.mstest.TestNamesTableParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.mstest.TestResultsTableParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.mstest.MSTestBaseTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.nUnit.NUnitReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.nUnit.NUnit3ReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.pmd.PmdReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.pmd.PmdComplexReportParserTest"/>
      <class name="jetbrains.buildServer.xmlReportPlugin.parsers.pmdCpd.PmdCpdReportParserTest"/>

      <class name="jetbrains.buildServer.xmlReportPlugin.XmlReportPluginIntegrationTest"/>

      <class name="jetbrains.buildServer.xmlReportPlugin.utils.ParserUtilsTest"/>
    </classes>
  </test>
</suite>
